.contacts {
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 40px 20px;
}

.contacts__question {
  padding: 0;
  margin: 0 auto;
}

.contacts-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.contacts-list__item {
  padding: 0;
  margin: 28px 0;
}

.contacts-list__title {
  color: #283645;
  font-size: 18px;
  font-weight: bold;
  padding: 0;
  margin: 0 auto;
}

.contacts-list__address {
  color: #d22856;
  font-size: 24px;
  font-weight: lighter;
  padding: 0;
  margin: 0 auto;
}
