.contacts {
  background-color: #ffffff;
  margin: 0;
  padding: 41px 0 16px;
  position: relative;

  &::after {
    background-image: url("../img/bg-triangle-white-footer.svg");
    background-size: contain;
    background-repeat: no-repeat;
    bottom: -100px;
    content: "";
    height: 100px;
    left: 0;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 2;
  }
}

.contacts__question {
  margin: 0 auto;
  padding: 0;
  margin-bottom: 36px;
}

@media (min-width: @tablet-width) {
  .contacts {
    padding-bottom: 25px;
    padding-top: 47px;

    &::after {
      bottom: -130px;
      height: 130px;
    }
  }

  .contacts__question {
    margin: 0 auto;
    margin-bottom: 45px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    padding-bottom: 38px;
    padding-top: 65px;

    &::after {
      background-image: url("../img/bg-triangle-white-footer-desktop.svg");
      bottom: -400px;
      height: 400px;
    }
  }

  .contacts__question {
    margin: 0 auto;
    margin-bottom: 57px;
  }
}
