.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 280px;

  &--hero-main {
    padding: 0;
    width: 100%;
  }

  &--edit {
    padding: 0;
    width: 100%;
  }

  &--pano {
    padding: 0;
    margin: 0 auto;
    width: 245px;
  }

  &--photo {
    padding: 0;
    margin: 0 auto;
    width: 245px;
  }
}

@media (min-width: @tablet-width) {
  .container {
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    width: 620px;

    &--hero-main {
      padding: 0 10px;
      position: relative;
      width: 625px;

      &::after {
        background: url("../img/iphone-hand-tablet@1x.png");
        background-repeat: no-repeat;
        background-size: contain;
        bottom: -110px;
        content: "";
        height: 544px;
        left: -28px;
        position: absolute;
        width: 699px;
        z-index: 0;
      }
    }

    &--edit {
      align-items: flex-start;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      padding: 0 20px;
      width: 620px;
    }

    &--form {
      padding: 0;
      width: 540px;
    }

    &--pano {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      height: auto;
      width: 566px;
    }

    &--photo {
      width: 244px;
    }

    &--features {
      position: relative;

      &::after {
        background-image: url("../img/iphone-screen-3-tablet@1x.png");
        background-repeat: no-repeat;
        background-size: contain;
        bottom: -41px;
        content: "";
        height: 481px;
        left: 20px;
        margin: 0;
        position: absolute;
        width: 268px;
        z-index: 3;
      }
    }
  }
}

@media (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
  .container {
    &--hero-main {
      &::after {
        background: url("../img/iphone-hand-tablet@2x.png");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    &--features {
      &::after {
        background-image: url("../img/iphone-screen-3-tablet@2x.png");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .container {
    margin: 0 auto;
    padding: 0 20px;
    width: 910px;

    &--hero-main {
      padding: 0 10px;
      position: relative;
      width: 945px;

      &::after {
        background: url("../img/iphone-hand-desktop@1x.png");
        background-repeat: no-repeat;
        background-size: contain;
        bottom: -127px;
        content: "";
        height: 649px;
        left: 26px;
        position: absolute;
        width: 1053px;
        z-index: 0;
      }
    }

    &--edit {
      padding: 0 0 0 20px;
      width: 802px;
    }

    &--form {
      padding: 0;
      width: 821px;
    }

    &--pano {
      width: 885px;
    }

    &--photo {
      width: 244px;
    }

    &--features {
      &::after {
        display: none;
      }
    }
  }
}

@media (min-width: 960px) and (min-resolution: 144dpi), (min-width: 960px) and (min-resolution: 1.5dppx) {
  .container--hero-main {
    &::after {
      background: url("../img/iphone-hand-desktop@2x.png");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}
