.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 280px;

  &--hero-main {
    padding: 0;
    width: 100%;
  }

  &--edit {
    padding: 0;
    width: 100%;
  }

  &--pano {
    padding: 0;
    margin: 0 auto;
    width: 245px;
  }

  &--photo {
    padding: 0;
    margin: 0 auto;
    width: 245px;
  }
}

@media (min-width: @tablet-width) {
  .container {
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    width: 620px;

    &--hero-main {
      align-items: flex-start;
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      width: 620px;
    }

    &--edit {
      align-items: flex-start;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      padding: 0 20px;
      width: 620px;
    }

    &--form {
      padding: 0;
      width: 540px;
    }

    &--pano {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      height: auto;
      width: 566px;
    }

    &--photo {
      width: 244px;
    }
  }
}

@media (min-width: @desktop-width) {
  .container {
    margin: 0 auto;
    padding: 0 20px;
    width: 1160px;

    &--hero-main {
      width: 945px;
    }

    &--edit {
      padding: 0;
      padding-left: 20px;
      width: 802px;
    }

    &--form {
      padding: 0;
      width: 821px;
    }

    &--pano {
      width: 885px;
    }

    &--photo {
      width: 244px;
    }
  }
}
