.description {
  background-color: #ffffff;
  color: #283645;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  margin: 45px auto;
  padding: 0;
  text-align: center;
  width: 280px;

  &--form-top {
    margin-bottom: 0;
  }

  &--photo-middle {
    margin: 42px 20px;
  }
}

.description__line {
  display: none;
}

@media (min-width: @tablet-width) {
  .description {
    font-size: 18px;
    line-height: 30px;
    margin: 92px auto 20px;
    padding: 0;
    width: 542px;

    &--photo-middle {
      margin: 56px auto 70px;
    }
  }

  .description__line {
    display: inline;
  }
}

@media (min-width: @desktop-width) {
  .description {
    width: 778px;

    &--narrow {
      margin: 91px auto 89px;
      width: 602px;
    }

    &--photo-middle {
      margin: 17px auto 65px;
    }
  }
}
