.device {
  list-style: none;
  margin: 30px auto;
  padding: 0;
}

.device__item {
  height: 56px;
  margin: 0 auto;
  padding: 0;
  width: 56px;

  &--ios {
    background: url("../img/logo-apple.svg") center no-repeat;
  }

  &--android {
    background: url("../img/logo-android.svg") center no-repeat;
  }

  &--windows {
    background: url("../img/logo-microsoft.svg") center no-repeat;
  }
}

.device__link {
  text-decoration: none;

  &--ios {
    background: url("../img/logo-apple.svg") center no-repeat;
  }

  &--android {
    background: url("../img/logo-android.svg") center no-repeat;
  }

  &--windows {
    background: url("../img/logo-microsoft.svg") center no-repeat;
  }
}

.device__download-description {
  color: #ffffff;
  font-size: 14px;
  font-weight: lighter;
  line-height: 24px;
  margin: 0 auto;
  padding: 0;
}
