.edit-photo {
  border-bottom: 1px solid #dddfe0;
  margin: 0 auto;
  margin-bottom: 38px;
  padding: 0 20px;
  padding-bottom: 69px;
  position: relative;
}

.edit-photo__tools-list {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 245px;
}

.edit-photo__tool-item {
  display: block;
  margin: 0 16px;
  padding: 0;
  width: 48px;
}

.edit-photo__tool {
  display: block;
  fill: rgba(40, 54, 69, 0.3);
  text-align: center;

  &:hover {
    fill: rgba(40, 54, 69, 0.5);
  }

  &--active {
    fill: #d22856;
  }

  &--contrast {
    height: 32px;
    margin: 0;
    width: 32px;
  }
}

.edit-photo__range {
  appearance: none;
  background: transparent;
  bottom: 26px;
  display: none;
  height: 18px;
  left: 0;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  right: 0;
  width: 240px;

  &--active {
    display: inline-block;
  }
}

.edit-photo__range::-ms-thumb {
  border: 2px solid #d22856;
  border-radius: 50px;
  background: #f2f2f2;
  cursor: pointer;
  height: 14px;
  width: 14px;
}

.edit-photo__range::-ms-thumb:active {
  background-color: #d22856;
}

.edit-photo__range::-webkit-slider-thumb {
  appearance: none;
  border: 2px solid #d22856;
  border-radius: 50px;
  background: #f2f2f2;
  cursor: pointer;
  margin-top: -6px;
  height: 14px;
  width: 14px;
}

.edit-photo__range::-webkit-slider-thumb:active {
  background-color: #d22856;
}

.edit-photo__range::-moz-range-thumb {
  border: 2px solid #d22856;
  border-radius: 50px;
  background: #f2f2f2;
  cursor: pointer;
  height: 14px;
  width: 14px;
}

.edit-photo__range::-moz-range-thumb:active {
  background-color: #d22856;
}

.edit-photo__range::-ms-track {
  background: transparent;
  color: transparent;
  height: 2px;
  width: 240px;
}

.edit-photo__range::-webkit-slider-runnable-track {
  background: #283645;
  height: 2px;
  width: 100%;
}

.edit-photo__range::-moz-range-track {
  width: 100%;
  height: 8.4px;
  background: #283645;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

@media (min-width: @tablet-width) {
  .edit-photo {
    border: none;
    margin-bottom: 69px;
    margin-top: 9px;
    padding: 0;
  }

  .edit-photo__tools-list {
    display: block;
    margin: 0;
    margin-left: 10px;
    width: 275px;
  }

  .edit-photo__tool-item {
    align-items: center;
    border-bottom: 1px solid #dddfe0;
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    padding-bottom: 24px;
    width: 275px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .edit-photo__tool {
    fill: #d22856;
    height: 23px;
    margin-left: 3px;
    width: 23px;

    &:hover {
      fill: #d22856;
    }

    &--contrast {
      height: 16px;
      margin-left: 7px;
      width: 16px;
    }
  }

  .edit-photo__range {
    display: block;
    margin: 0;
    margin-right: 20px;
    position: static;
    width: 202px;
  }
}

@media (min-width: @desktop-width) {
  .edit-photo {
    margin: 0;
    margin-bottom: 146px;
    margin-left: 32px;
    width: 413px;
  }

  .edit-photo__tools-list {
    margin: 0;
    width: 413px;
  }

  .edit-photo__tool-item {
    margin: 0;
    margin-bottom: 13px;
    padding: 0 9px 11px 0;
    width: 403px;
  }

  .edit-photo__tool {
    height: 48px;
    margin: 0;
    width: 48px;

    &--contrast {
      height: 33px;
      margin-top: 4px;
      margin-left: 7px;
      margin-bottom: 7px;
      width: 33px;
    }
  }

  .edit-photo__range {
    width: 290px;
  }
}
