.features {
  background-color: #f2f2f2;
  color: #283645;
  margin: 0;
  overflow: hidden;
  padding: 83px 0 286px;
  position: relative;

  &::after {
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: contain;
    bottom: -38px;
    content: "";
    height: 315px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 157px;
    z-index: 3;
  }
}

.features__list {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 265px;
}

.features__item {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0;
}

.features__title {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin: 0 auto;
  margin-bottom: 13px;
  padding: 0;
  text-align: center;
}

.features__description {
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 0.3px;
  line-height: 24px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 265px;
}

.features__description br {
  display: none;
}

@media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
  .features {
    &::after {
      background-image: url("../img/iphone-screen-mobile@2x.png");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

@media (min-width: @tablet-width) {
  .features {
    padding: 73px 0 41px;

    &::after {
      background-image: url("../img/iphone-screen-3-tablet@1x.png");
      background-repeat: no-repeat;
      background-size: contain;
      bottom: 0;
      content: "";
      height: 481px;
      left: 20px;
      margin: 0;
      position: absolute;
      width: 268px;
      z-index: 3;
    }
  }

  .features__list {
    margin-left: 310px;
    width: 320px;
  }

  .features__item {
    margin: 0;
    margin-bottom: 33px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .features__title {
    margin: 0;
    margin-bottom: 13px;
    text-align: left;
    width: 320px;
  }

  .features__description {
    line-height: 24px;
    text-align: left;
    width: 320px;
  }

  .features__description br {
    display: block;
  }
}

@media (min-width: 660px) and (min-resolution: 144dpi),
  (min-width: 660px) and (min-resolution: 1.5dppx) {
  .features {
    &::after {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

@media (min-width: @desktop-width) {
  .features {
    padding: 370px 0 8px;

    &::after {
      display: none;
    }
  }

  .features__list {
    align-items: flex-start;
    flex-direction: row;
    float: none;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: -12px;
    width: 880px;
  }

  .features__item {
    width: 240px;
    position: relative;

    &::before {
      content: "";
      height: 302px;
      left: -24px;
      margin: 0 auto;
      padding: 0;
      position: absolute;
      top: -357px;
      width: 290px;
      z-index: 2;
    }

    &:first-child::before {
      background-image: url("../img/iphone-screen-1-desktop@1x.png");
      background-repeat: no-repeat;
      background-size: contain;
    }

    &:nth-child(2)::before {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");
      background-repeat: no-repeat;
      background-size: contain;
    }

    &:last-child::before {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .features__title {
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    text-align: center;
    width: 230px;
  }

  .features__description {
    font-size: 18px;
    line-height: 30px;
    padding: 0;
    text-align: center;
    width: 240px;
  }

  .features__description br {
    display: none;
  }
}
