.form-competition {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #283645;
  margin: 0;
  padding: 0;
}

.form-competition__set {
  border: none;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 20px;

  &--light {
    background-color: #ffffff;
    color: #283645;
  }

  &--dark {
    background-color: #f2f2f2;
    color: #283645;
    padding: 38px 0 47px;
    width: 100%;
  }

  &--comment {
    padding: 38px 0 48px;
    width: 280px;
  }

  &--adress {
    padding-top: 37px;
  }
}

.form-competition__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 280px;
}

.form-competition__item {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
}

.form-competition__select-item {
  font-weight: normal;
  margin: 0;
  margin-bottom: 52px;
  padding: 0;

  &--radio {
    margin-bottom: 45px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form-competition__text-label {
  color: #d22856;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.3px;
  line-height: 20px;
  margin: 0 23px;
  margin-bottom: 10px;
  padding: 0;
  text-transform: uppercase;
}

.form-competition__text-input {
  margin: 0 auto;
  padding: 0;
}

.form-competition__text {
  background-color: transparent;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  color: #283645;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.4px;
  line-height: 29px;
  margin: 0 auto;
  padding: 15px 21px;
  width: 234px;

  &:hover {
    border: 2px solid #283645;
  }

  &:active {
    border: 2px solid #d22856;
  }
}

.form-competition__title {
  color: #d22856;
  display: block;
  float: left;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.3px;
  line-height: 18px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  text-transform: uppercase;

  &--dark {
    margin-bottom: 42px;
    width: 100%;
  }

  &--adress {
    display: none;
  }

  &--device {
    margin-bottom: 39px;
  }
}

.form-competition__title-wrap {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 240px;
}

.form-competition__checkbox {
  display: none;
}

.form-competition__radio {
  display: none;
}

.form-competition__item-label {
  color: #283645;
  cursor: pointer;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.3px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 43px;
  padding-left: 70px;
  position: relative;

  &::before {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    bottom: 0;
    content: "";
    display: block;
    height: 35px;
    left: 0;
    margin: auto;
    padding: 0;
    top: 0;
    position: absolute;
    width: 35px;
    z-index: 1;
  }

  &--radio::before {
    border-radius: 50px;
  }
}


.form-competition__checkbox[type="checkbox"]:checked ~ .form-competition__item-label--checkbox::before {
  background-image: url("../img/icon-checked.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form-competition__checkbox[type="checkbox"]:hover ~ .form-competition__item-label--checkbox::before {
  border: 2px solid #283645;
}

.form-competition__checkbox[type="checkbox"]:active ~ .form-competition__item-label--checkbox::before {
  border: 2px solid #d22856;
}

.form-competition__radio[type="radio"]:checked ~ .form-competition__item-label--radio::before {
  background-image: url("../img/icon-map-marker.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form-competition__radio[type="radio"]:hover ~ .form-competition__item-label--radio::before {
  border: 2px solid #283645;
}

.form-competition__radio[type="radio"]:active ~ .form-competition__item-label--radio::before {
  border: 2px solid #d22856;
}

.form-competition__comment-title {
  color: #d22856;
  display: block;
  float: left;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.3px;
  line-height: 18px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 320px;
}

.form-competition__comment {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  color: #283645;
  display: block;
  font-size: 18px;
  font-weight: normal;
  height: 167px;
  letter-spacing: 0.4px;
  line-height: 30px;
  margin: 0 auto;
  padding: 15px 20px;
  width: 237px;
}

.form-competition__bottom {
  margin: 0 auto;
}

.form-competition__button {
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 0;
  text-align: center;
}

.form-competition__note {
  color: #283645;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.3px;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 16px;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
}

.form-competition__colored-text {
  color: #d22856;
}

.form-competition__only-desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .form-competition__set {
    border: 2px solid #e5e5e5;
    border-radius: 2px;
    margin-bottom: 51px;
    padding: 0;
    width: 617px;

    &--dark {
      background-color: #ffffff;
      padding: 0;
      padding-bottom: 60px;
      width: 500px;
    }

    &--name {
      border: none;
      margin-bottom: 52px;
      order: 0;
    }

    &--device {
      margin-bottom: 50px;
      order: 1;
      padding: 43px 59px 59px;
    }

    &--adress {
      order: 2;
      padding: 31px 33px;
      width: 549px;
    }

    &--achievements {
      order: 3;
      margin-bottom: 58px;
      padding: 42px 58px 52px;
    }

    &--comment {
      margin-bottom: 67px;
      order: 4;
      padding: 36px 38px 52px;
      width: 541px;
    }
  }

  .form-competition__list {
    margin: 0 auto;
    width: auto;

    &--select {
      margin: 0;
    }

    &--name {
      width: 619px;
    }
  }

  .form-competition__item {
    display: flex;
    margin: 0 auto;

    &--name {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto;
      margin-bottom: 53px;
    }

    &--adress {
      align-items: flex-start;
      flex-direction: column-reverse;
      justify-content: flex-start;
      margin-bottom: 32px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .form-competition__text-input {
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 0;
    position: relative;

    &--phone::after {
      background-image: url("../img/icon-phone.svg");
      background-color: #e5e5e5;
      background-repeat: no-repeat;
      background-position: center;
      content: "";
      display: block;
      height: 63px;
      position: absolute;
      right: 0;
      top: 0;
      width: 63px;
      z-index: 1;
    }

    &--mail::after {
      background-image: url("../img/icon-mail.svg");
      background-color: #e5e5e5;
      background-repeat: no-repeat;
      background-position: center;
      content: "";
      display: block;
      height: 63px;
      position: absolute;
      right: 0;
      top: 0;
      width: 63px;
      z-index: 1;
    }
  }

  .form-competition__text {
    height: 30px;
    margin: 0;

    &--name {
      height: 36px;
      flex-grow: 1;
      padding: 11px 19px;
    }

    &--contacts {
      padding: 15px 19px;
      padding-right: 74px;
      position: relative;
      width: 403px;
      z-index: 3;
    }
  }

  .form-competition__text-label {
    margin: 0 39px;

    &--name {
      margin: 0;
      margin-right: 21px;
    }
  }

  .form-competition__title-wrap {
    width: auto;
  }

  .form-competition__title {
    font-size: 14px;
    float: none;
    line-height: 30px;
    margin: 0 auto;
    padding: 0 26px;

    &--dark {
      margin: 0 auto;
      white-space: nowrap;
      width: auto;
    }

    &--adress {
      display: inline;
      margin: 0 auto;
    }
  }

  .form-competition__select-item {
    &--radio {
      margin-bottom: 45px;
    }

    &--achievement {
      margin-bottom: 52px;
      margin-top: 0;
    }
  }

  .form-competition__item-label {
    padding-left: 60px;
  }

  .form-competition__comment-title {
    float: none;
    padding: 0 38px;
    margin: 0 auto;
    width: 260px;
  }

  .form-competition__comment {
    height: 159px;
    padding: 15px 17px;
    width: 460px;
  }

  .form-competition__bottom {
    align-items: center;
    display: flex;
    justify-content: space-between;
    order: 5;
    margin-bottom: 48px;
    padding: 0 20px;
    width: 620px;
  }

  .form-competition__button {
    margin: 0;
  }

  .form-competition__note {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .form-competition {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 940px;
  }

  .form-competition__set {
    margin-bottom: 52px;

    &--name {
      width: 434px;
      margin: 20px 0 50px;
    }

    &--device {
      width: 431px;
      margin: 0;
      margin-bottom: 50px;
      padding: 45px 0 60px;
    }

    &--adress {
      padding: 29px 57px 17px;
      width: 100%;
    }

    &--achievements {
      margin-bottom: 51px;
      padding: 43px 57px 49px;
      width: 100%;
    }

    &--comment {
      margin-bottom: 65px;
      padding: 29px 58px 43px;
      width: 100%;
    }
  }

  .form-competition__list {
    &--adress {
      align-items: flex-start;
      display: flex;
      justify-content: space-between;
    }

    &--achievements {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 121px;
      justify-content: space-between;
    }

    &--name {
      width: auto;
    }

    &--radio {
      margin: 0 auto;
      width: 281px;
    }
  }

  .form-competition__item {
    &--name {
      margin-bottom: 52px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--adress {
      margin: 0;
    }
  }

  .form-competition__item-label {
    padding-left: 59px;
  }

  .form-competition__text-input {
    margin-bottom: 15px;

    &--phone::after {
      height: 62px;
      width: 62px;
    }

    &--mail::after {
      height: 62px;
      width: 62px;
    }
  }

  .form-competition__text {
    &--name {
      height: 38px;
      padding: 11px 19px;
    }

    &--contacts {
      height: 30px;
      padding: 14px 20px;
      padding-right: 67px;
      width: 284px;
    }
  }

  .form-competition__text-label {
    margin: 0 20px;

    &--name {
      margin-left: 0;
    }
  }

  .form-competition__title {
    font-size: 13px;
    letter-spacing: 0.8px;
    line-height: 30px;
    padding: 0 30px;
    white-space: nowrap;
  }

  .form-competition__select-item {
    &--achievement {
      margin: 0;
      margin-bottom: 11px;
      margin-right: 58px;

      &:last-child {
        margin-bottom: 11px;
      }
    }

    &--radio {
      margin-bottom: 44px;
    }
  }

  .form-competition__comment-title {
    font-size: 13px;
    line-height: 30px;
    min-width: 200px;
    padding: 0 17px;
  }

  .form-competition__comment {
    height: 93px;
    width: 95%;
  }

  .form-competition__bottom {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .form-competition__button {
    margin: 0;
  }

  .form-competition__only-desktop {
    display: inline;
  }
}
