.form-competition {
  color: #283645;
  margin: 0;
  padding: 0;
}

.form-competition__set {
  margin: 0 auto;
  padding: 42px 20px;

  &--light {
    background-color: #ffffff;
    color: #283645;
  }

  &--dark {
    background-color: #f2f2f2;
    color: #283645;
  }
}

.form-competition__text-label {
  color: #d22856;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  margin: 17px 0;
  padding: 0;
  text-transform: uppercase;
}

.form-competition__text {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  color: #283645;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  margin: 0 auto;
  padding: 22px;
  width: 276px;
}

.form-competition__title {
  color: #d22856;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  margin: 0 auto;
  padding: 0;
  text-transform: uppercase;
}

.form-competition__item-label {
  color: #283645;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  margin: 43px 0;
  padding: 0;
}

.form-competition__note {
  color: #283645;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  margin: 44px auto;
  padding: 0;
  text-transform: uppercase;
}

.form-competition__colored-text {
  color: #d22856;
}
