.hero {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #10171d;
  color: #ffffff;
  font-size: 24px;
  font-weight: lighter;
  min-height: 139px;
  margin: 0;
  padding: 100px 0 0;

  &--main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 0;
  }
}

.hero__background {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: #10171d;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 177px 0 0;
  width: 100%;
}

.hero__image {
  height: 286px;
  margin: 0 auto;
  padding: 0;
  width: 258px;
}

.hero__picture {
  height: 100%;
  margin: 0;
  margin-left: -30px;
  object-fit: cover;
  width: 100%;
}

.hero__title {
  display: none;
}

.hero__text {
  color: #ffffff;
  font-size: 24px;
  font-weight: lighter;
  line-height: 28px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 260px;
}

.hero__download {
  background-color: #1d2631;
  margin: 0;
  padding: 28px 19px 30px;
}

.hero__download-button {
  border: 3px solid #ffffff;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  padding: 16px 0;
  text-align: center;
  text-decoration: none;
  width: 276px;

  &:hover {
    background-color: #ffffff;
    color: #d22856;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

.hero__download-description {
  color: #ffffff;
  font-size: 14px;
  font-weight: lighter;
  line-height: 24px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 250px;
}

@media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
  .hero {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  .hero__background {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-position: center;
  }
}

@media (min-width: @tablet-width) {
  .hero {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
    min-height: 178px;
    padding: 181px 0 80px;
    position: relative;

    &--main {
      background-position: center;
      overflow: hidden;
      padding: 185px 0 0;
    }
  }

  .hero__text {
    font-size: 50px;
    line-height: 59px;
    width: 622px;
  }

  .hero__background {
    background: transparent;
    margin: 0;
    margin-left: -337px;
    order: 1;
    padding: 0;
    width: auto;
  }

  .hero__image {
    height: 542px;
    width: 696px;
  }

  .hero__download {
    background-color: transparent;
    float: left;
    margin: 0;
    margin-top: 17px;
    padding: 0;
    width: 305px;
    z-index: 1;
  }

  .hero__picture {
    margin: 0;
    padding: 0;
  }

  .hero__title {
    display: inline-block;
    font-size: 40px;
    font-weight: lighter;
    line-height: 48px;
    margin: 0 auto;
    margin-bottom: 31px;
    padding: 0 30px;
    text-align: center;
  }

  .hero__download-button {
    padding: 15px 0;
    width: 293px;
  }

  .hero__download-description {
    font-size: 18px;
    line-height: 24px;
    width: 300px;
  }
}

@media (min-width: 660px) and (min-resolution: 144dpi),
  (min-width: 660px) and (min-resolution: 1.5dppx) {
  .hero {
    background-image: url("../img/bg-back-tablet@2x.jpg");
    background-size: 1320px auto;
  }
}

@media (min-width: @desktop-width) {
  .hero {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    padding: 175px 0 41px;

    &--main {
      padding: 209px 0 0;
    }
  }

  .hero__image {
    height: 644px;
    margin: 0;
    margin-left: -168px;
    width: 810px;
  }

  .hero__download {
    margin-top: 11px;
  }

  .hero__text {
    width: 1062px;

    &--photo {
      width: 658px;
    }
  }

  .hero__title {
    font-size: 50px;
    line-height: 59px;
    margin-bottom: 52px;
  }

  .hero__download-button {
    margin: 0;
    margin-bottom: 17px;
    padding: 14px 0;
    width: 296px;
  }

  .hero__download-description {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: 1200px) and (min-resolution: 144dpi),
  (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .hero {
    background-image: url("../img/bg-back-desktop@2x.jpg");
    background-size: 2400px auto;
  }
}
