.page-header {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
}

.hero__title {
  background: url("source/img/bg-back-mobile@1x.jpg") no-repeat;
  font-weight: lighter;
  font-size: 24px;
  padding: 102px 0 0 0;
  margin: 0;

  &--main {
    padding: 175px 0 0 0;
  }
}

.hero__image {
  padding: 0;
  margin: 0 auto;
}

.hero__text {
  padding: 0;
  margin: 0, auto;
}

.hero__download {
  background-color: #1d2631;
  padding: 28px, 20px;
  margin: 0;
}

.hero__download-buttom {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  padding: 17px 36px;
  margin: 0 auto;
  border: 3px solid #ffffff;
  border-radius: 50px;
}

.hero__device {
  list-style: none;
  margin: 30px auto;
  padding: 0;
}

.device__item {
  padding: 0;
  margin: 0 auto;
  width: 56px;
  height: 56px;
}

.device__link {
  text-decoration: none;

  &--ios {
    background: url("source\img\logo-apple.svg") center no-repeat;
  }

  &--android {
    background: url("source\img\logo-android.svg") center no-repeat;
  }

  &--windows {
    background: url("source\img\logo-windows.svg") center no-repeat;
  }
}

.intro__download-description {
  padding: 0;
  margin: 0 auto;
  font-size: 14px;
  line-height: 24px;
  font-weight: lighter;
}
