.packages {
  border-collapse: separate;
  border-spacing: 0;
}

.packages__header {
  background-color: #283645;
  border-bottom: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
  color: #ffffff;
  margin: 0;
  padding: 18px 86px 21px;
  position: relative;

  &:first-child {
    border-left: 2px solid #e5e5e5;
  }

  &--hit::before {
    background: url("../img/bg-hit.svg") no-repeat;
    content: "";
    height: 73px;
    left: -2px;
    position: absolute;
    top: 0;
    width: 74px;
  }

  &--hit::after {
    content: "ХИТ";
    font-weight: normal;
    height: 73px;
    left: 6px;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 74px;
  }

  &--empty {
    display: none;
  }
}

.packages__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin: 0 auto;
  margin-bottom: 6px;
  padding: 0;
  text-transform: uppercase;
}

.packages__price {
  font-size: 24px;
  font-weight: lighter;
  line-height: 28px;
  margin: 0 auto;
  min-width: 105px;
  padding: 0;
}

.packages__offer {
  display: none;
}

.packages__description {
  margin: 0;
  padding: 0;
}

.packages__include {
  background-color: #ffffff;
  border-bottom: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
  color: #283645;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.3px;
  line-height: 30px;
  margin: 0;
  padding: 14px 52px 14px 21px;
  position: relative;
  text-transform: uppercase;
  width: 276px;

  &:first-child {
    border-left: 2px solid #e5e5e5;
  }

  &--true::after {
    background: url("../img/icon-yes.svg") no-repeat;
    background-size: contain;
    content: "";
    height: 23px;
    position: absolute;
    right: 15px;
    top: 17px;
    width: 34px;
  }

  &--false::after {
    background: url("../img/icon-no.svg") no-repeat;
    background-size: contain;
    content: "";
    height: 27px;
    position: absolute;
    right: 19px;
    top: 15px;
    width: 27px;
  }
}

.packages__comment {
  padding: 0;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .packages {
    margin: 0 auto;
  }

  .packages__header {
    overflow: hidden;
    padding: 18px 24px 14px;

    &:first-child {
      border-left: none;
    }

    &:nth-child(2) {
      border-left: 2px solid #e5e5e5;
    }

    &--empty {
      background-color: transparent;
      border: none;
      border-bottom: 2px solid #e5e5e5;
      display: block;
      height: 45px;
    }

    &--hit::before {
      background: url("../img/bg-hit-tablet.svg") no-repeat;
      height: 61px;
      width: 61px;
    }

    &--hit::after {
      font-size: 14px;
      font-weight: normal;
      height: 61px;
      left: 6px;
      top: 4px;
      width: 61px;
    }
  }

  .packages__title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
  }

  .packages__price {
    font-size: 18px;
    line-height: 22px;
  }

  .packages__include {
    padding: 0;
    width: auto;

    &:nth-child(2) {
      border-left: 2px solid #e5e5e5;
    }

    &--true::after {
      left: 0;
      margin: auto;
      right: 0;
      top: 11px;
    }

    &--false::after {
      left: 0;
      margin: auto;
      right: 0;
      top: 8px;
    }
  }

  .packages__offer {
    background-color: #ffffff;
    border-bottom: 2px solid #e5e5e5;
    border-left: 2px solid #e5e5e5;
    border-collapse: separate;
    border-spacing: 0;
    display: table-cell;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.5px;
    line-height: 30px;
    padding: 7px 15px;
    width: 123px;
  }

  .packages__comment {
    display: none;
  }

  .price__toggles {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .packages__header {
    padding: 20px 64px;

    &--hit::before {
      background: url("../img/bg-hit.svg") no-repeat;
      background-size: cover;
      height: 73px;
      width: 73px;
    }

    &--hit::after {
      height: 73px;
      left: 8px;
      top: 10px;
      width: 73px;
    }

    &--empty {
      height: 55px;
    }
  }

  .packages__include {
    &--true::after {
      top: 21px;
    }

    &--false::after {
      top: 17px;
    }
  }

  .packages__title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 5px;
  }

  .packages__price {
    font-size: 24px;
    line-height: 28px;
  }

  .packages__offer {
    font-size: 18px;
    line-height: 30px;
    padding: 14px 21px;
    width: 191px;
  }
}
