.page-footer {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 40px 59px;

  &--mobile-hidden {
    display: none;
  }
}

.page-footer__logo {
  display: block;
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  text-align: center;
}

.page-footer__logo-image {
  &:hover {
    fill: #d22856;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__credits {
  color: #283645;
  display: block;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  margin: 42px auto 0;
  padding: 0;
  text-align: center;
}

.page-footer__credits-text {
  margin: 0 8px;
  vertical-align: middle;
}

.page-footer__academy-link {
  display: inline-block;
  margin: 0 7px;
  text-decoration: none;
  vertical-align: middle;
}

.page-footer__academy-logo {
  fill: #d22856;

  &:hover {
    fill: #283645;
  }

  &:active {
    fill: #283645;
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    flex-direction: row;
    padding: 35px 13px;

    &--mobile-hidden {
      display: flex;
    }
  }

  .page-footer__logo {
    margin: 0 0 0 7px;
  }

  .page-footer__credits {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding: 72px 123px;
  }

  .page-footer__credits {
    font-size: 18px;
    line-height: 18px;
  }
}
