.pop-up {
  display: none;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  left: 0;
  margin: auto;
  padding: 0;
  padding-top: 15px;
  position: fixed;
  right: 0;
  top: 20%;
  width: 320px;
  z-index: 10;
}

.pop-up__text {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 270px;
}

.pop-up__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin: 26px auto;
  padding: 0;
  text-align: center;
}

.pop-up__desctiption {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  margin: 10px auto;
  padding: 0;
  text-align: center;
}

.pop-up__button-place {
  margin: 37px auto;
  padding: 0;
  text-align: center;

  &--success {
    background-color: #f2f2f2;
    margin: 0;
    margin-top: 29px;
    padding: 50px 0;
  }
}

@media (min-width: @tablet-width) {
  .pop-up {
    width: 461px;
  }

  .pop-up__text {
    width: 320px;
  }

  .pop-up__title {
    font-size: 30px;
    line-height: 40px;
  }

  .pop-up__desctiption {
    font-size: 18px;
    line-height: 24px;
  }

  .pop-up__button-place {
    margin: 37px auto;

    &--success {
      margin-top: 38px;
      padding: 48px 0;
    }
  }

  .pop-up__desctiption br {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .pop-up {
    width: 780px;
  }

  .pop-up__text {
    width: 420px;
  }

  .pop-up__button-place {
    background-color: #f2f2f2;
    margin: 0;
    margin-top: 38px;
    padding: 48px 0;
  }
}
