.review {
  background-color: #ffffff;
  color: #283645;
}

.review__list {
  list-style: none;
  margin: 0 auto;
  padding: 20px 0;
}

.review__item {
  margin: 0;
  padding: 0;
}

.review__name {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin: 5px auto;
  padding: 0;
}

.review__description {
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  margin: 20px auto;
  padding: 0;
}

.review__toggles {
  margin: 0;
  padding: 0;
}
