.slider__toggles {
  margin: 0 auto;
  padding: 0;
}

.slider__toggle {
  background-color: #bec2c7;
  border: none;
  border-radius: 50px;
  height: 5px;
  margin: 20px 0;
  padding: 0;
  width: 5px;

  &--active {
    background-color: #ffffff;
    border: 3px solid #283645;
  }
}
