.social {
  list-style: none;
  margin: 40px auto;
  padding: 0;
}

.social__item {
  border-radius: 50px;
  height: 45px;
  margin: 0 18px;
  padding: 0;
  width: 45px;
}

.social__link {
  border: 3px solid #e9ebec;
  border-radius: 50px;
  display: block;
  height: 45px;
  text-decoration: none;
  width: 45px;

  &--twitter {
    background: url("../img/icon-twitter.svg") center no-repeat;
  }

  &--facebook {
    background: url("../img/icon-facebook.svg") center no-repeat;
  }

  &--youtube {
    background: url("../img/icon-youtube.svg") center no-repeat;
  }

  &:hover {
    border: 3px solid #283645;
  }

  &:active {
    opacity: 0.3;
  }
}
